[submodule "lib/mcp23017"]
	path = lib/mcp23017
	url = git@github.com:adafruit/Adafruit-MCP23017-Arduino-Library.git
[submodule "lib/mc24fc-arduino"]
	path = lib/mc24fc-arduino
	url = git@github.com:Clpsplug/mc24fc-arduino.git
